@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji"; */
    --font-sans: "Inter";
    --color-warna-01: oklch(37.9% 0.146 265.522);
    --color-warna-02: #337ab7;
    --color-warna-03: #ef4444;
    --color-warna-04: #b91c1c;
}

@layer components {
    .article-content {
        @apply [&_p]:mb-4
      [&_p]:leading-relaxed
      [&_a]:text-blue-600
      [&_a]:underline
      [&_strong]:font-semibold;
    }
}

@layer utilities {
    /* Hide scrollbar but keep scroll functionality */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE & Edge */
        scrollbar-width: none; /* Firefox */
    }
}
